# Git and CI/CD
.git
.github
.gitignore

# Next.js and build output
.next
.open-next
.turbo
.wrangler
out
dist

# Dependencies
node_modules

# IDE
.vscode
.idea

# Testing and development
__tests__
coverage
vitest.config.*
lib/db/migrations

# Docker files
Dockerfile
.dockerignore