site_url = "your-site-url"

# Authentication configuration
better_auth_secret    = "your-better-auth-secret"
enable_email_signup   = true
allowed_email_domains = ""
enable_oauth_login    = true
google_client_id      = "your-google-client-id"
google_client_secret  = "your-google-client-secret"
github_client_id      = "your-github-client-id"
github_client_secret  = "your-github-client-secret"
gitlab_client_id      = "your-gitlab-client-id"
gitlab_client_secret  = "your-gitlab-client-secret"

# SSO Configuration
enable_sso                 = false
sso_domain                 = "example.com"
sso_provider_id            = "keycloak-test"
sso_client_id              = "test-client"
sso_client_secret          = "your-sso-client-secret"
sso_issuer                 = "your-sso-issuer"
sso_authorization_endpoint = "your-sso-authorization-endpoint"
sso_discovery_endpoint     = "your-sso-discovery-endpoint"
sso_token_endpoint         = "your-sso-token-endpoint"
sso_jwks_endpoint          = "your-sso-jwks-endpoint"

# Mail configuration
resend_sender_email = "your-resend-sender-email"
resend_api_key      = "your-resend-api-key"

# Application configuration
database_password = "your-database-password"
encryption_key    = "your-64-character-encryption-key"

use_cloudflare_r2            = true
cloudflare_account_id        = "your-cloudflare-account-id"
cloudflare_api_token         = "your-cloudflare-api-token"
cloudflare_r2_location       = "your-cloudflare-r2-location"
r2_endpoint                  = "https://<your-account-id>.r2.cloudflarestorage.com"
cloudflare_access_key_id     = "your-cloudflare-access-key-id"
cloudflare_secret_access_key = "your-cloudflare-secret-access-key"

# AI models
embeddings_model = "text-embedding-004"
llm_models       = "gemini-2.5-flash,gemini-2.5-pro"

# Firecrawl
use_firecrawl     = false
firecrawl_api_key = "your-firecrawl-api-key"

# AWS specific
aws_project_name = "your-aws-project-name"
aws_region       = "your-aws-region"
aws_zones        = "your-aws-zones"

# SQS
sqs_queue_url = "your-aws-sqs-queue-url"

github_repository = "your-github-repository"
