# Git and CI/CD
.git
.github
.gitignore

# Dependencies
node_modules

# Testing
__tests__
coverage
vitest.config.*
*.test.ts
*.spec.ts

# Development
.env
.env.local
.vscode
.idea

# Docker files
Dockerfile
.dockerignore

# Markdown files
*.md

# Dev entry point
src/dev.ts
