# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude sensitive variables files
*.tfvars
*.tfvars.json

# dependencies
node_modules/
.pnp/
.pnp.js
.yarn/install-state.gz

# environment files
.env
.env.local

# zip files
*.zip

# .DS_Store files
.DS_Store

*.pdf

**/sa_key.txt