NEXT_PUBLIC_BASE_URL = "http://localhost:3001"
NEXT_PUBLIC_CHAT_URL = "http://localhost:3000"
NEXT_PUBLIC_API_URL = "http://localhost:3004"
NEXT_PUBLIC_PDF_EXPORTER_URL = "http://localhost:3005"

NEXT_PUBLIC_CSP_ENDPOINTS = "http://localhost:9000" # MinIO for local development