NEXT_PUBLIC_BASE_URL = "http://localhost:3001"
NEXT_PUBLIC_CHAT_URL = "http://localhost:3000"
NEXT_PUBLIC_API_URL = "http://localhost:3004"
NEXT_PUBLIC_PDF_EXPORTER_URL = "http://localhost:3005"

NEXT_PUBLIC_GOOGLE_VERTEX_PROJECT = "your-google-project-id"
NEXT_PUBLIC_GOOGLE_STORAGE_URL = "https://storage.googleapis.com"

NEXT_PUBLIC_R2_ENDPOINT = "https://<account-id>.r2.cloudflarestorage.com"